.header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  font-size 16px
  line-height 1.5
}

.card 
  border-bottom 1px solid #ddd
  // margin-bottom 24px
  padding 24px 0
  float none
  max-width auto
  overflow hidden
  width 100%
  div
    overflow hidden
    margin-bottom 12px
  b
    display block
    float left
    padding-right 16px
    width 200px
    @media screen and (max-width: 520px)
      float: none
      margin-bottom 6px
      width auto

